
.modal-buttons {
	position: fixed;
    right: 68px;
    bottom: 20px; 
    z-index: 10002 
}
.times-icon, .callback-icon, .chat-icon{
	color: #FFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all ease-in-out .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.callback-icon, .chat-icon {
    background: #5FCFE2;
}
.times-icon {
	background-color: #D7D7D7;
}
.inital-icon .callback-icon:before {
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}
.inital-icon .callback-icon:before, .callback-icon:after {
    position: absolute;
    content: '';
    border: solid 1px;
    border-color: #5FCFE2 transparent;
    border-radius: 100%;
}
.inital-icon .callback-icon:after {
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    -webkit-animation: spin 5s infinite linear;
    animation: spin 5s infinite linear;
}
.callback-icon .fa {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all ease-in-out .3s;/* 
    -webkit-animation: spin-icon 1s infinite ease-in-out;
    animation: spin-icon 1s infinite ease-in-out; */
}
.modal-buttons .fa-times,
.modal-buttons .fa-envelope,
.modal-buttons .fa-phone
 {
	line-height: 40px;
    font-size: 17px; 
}
.icons {
	display: none;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*modal window*/
.modal-dialog {
	width: 400px;
}
.modal-header, .modal-body {
	width: 80%;
	margin: 0 auto;
}
.modal-header .fa-times {
	position: absolute;
    right: 10px;
    top: 7px;
    color: #A8A9AB;
    font-size: 2rem;
    cursor: pointer;
}
.modal-header {
	display: block;
	text-align: center;
	border: none;
	padding-bottom: 0;
}
.modal-header h5 {
	border-bottom: 2px solid #e65540;
    padding-bottom: 1rem;
}
.modal-body h3 {
	text-align: center;
}

.modal-body label {
	font-weight: bold;
}
.modal-body .des-btn {
	font-size: .85rem;
}
.body-in {
	margin-right: auto;
	margin-left: auto;
}
/* .modal-background {
	height: 100vh;
	width: 100%;
	z-index: 10000;
	position: absolute;
	
} */

body,html {
	background: #fff!important;
	font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
	color: #0b3356!important;
	font-size: 14px;
}
a, p, li,span{
	color: #0b3356;
	font-size: 1rem;
}
a:hover {
	text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin-bottom: 1rem;
	color: #0b3356!important;;
}
h2 {
	font-size: 2.2rem
}
h3 {
	font-size: 1.7rem;
}
h4 {
	font-size: 1.5rem;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}
.border-rightt {
	border-right: 2px solid #ccc;
}
.btn:focus, .form-control:focus {
	box-shadow: none;
}
.bold {
	font-weight: bold;
}
table {
	overflow-x: scroll;
}
.form-group label {
	position: relative;
}
.btn {
	font-size: 1.2rem;
	display: block;
	background: #f2f2f2;
	color: #000;
	transition: all .3s ease;
}
.modal h3,
.modal h5,
.modal .form-check-label{
	font-weight: 100;
}
.modal .form-check-label,
.modal label,
.modal p {
	font-size: .85rem;
}
#favourite .modal-body {
	width: 100%;
	padding: 2rem 1rem;
}
#favourite .modal-body h5 {
	margin-bottom: .5rem;
}
.modal-body .fa-check {
	color: #66a8a6;
    font-size: 3rem;
    font-weight: 900;
    border: 4px solid rgba(102, 168, 166, 0.2);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
/*modal calculator*/

.modal-calculator {
	width: 860px;
    max-width: 100%;
}
.error1 {
	display: none;
	color: red;
    text-align: center;
}
.red {
	color: #e65540!important;
}
.btn-red {
	background: #e65540!important;
	color: #fff!important;
}
.btn-black {
	background: #000;
}
.green {
	color: #00b91e;
}
img {
	max-width: 100%;
}
.border-wrap {
	border: 2px solid #ccc;
	padding: 1rem;
}
.banner .block1 {
	max-width: 100%!important;
}
.line {
	text-decoration: underline!important;
	cursor: pointer;
}
.header-icons {
	z-index: 1000;
}
.dropdown-toggle:after {
	display: none;
}
.dropdown-menu {
	border: none;
}
.dropdown-item {
	color: #333;
}
.dropdown-item:hover {
	background-color: transparent;
	color: #e65540;
}
section {
	margin-bottom: 1.5rem;
	padding:1rem 0;
}
.section-1 .nav-tabs .nav-link-2 {
	border: none;
	padding: 0;
}	
.section-1 .nav-tabs .nav-link.active
 {
	background: #f2f2f2!important;
	color:#e65540;
	border-color: transparent;
}
.section-1 .nav-item-1 {
	margin-right: 1rem;
	text-align: center;
}

.section-1 .nav-item-1:last-child {
	margin-right: 0;
}
.section-1 .nav-tabs-2 {
	padding-top: 1rem;
}
.section-1 .nav-item-2 {
	margin-right: 4rem;
}
.section-1 .nav-item a.nav-link-1{
	background: #d9d9d9;
	line-height: 1.2rem;
	font-weight: bold;
}
.section-1 .nav-tabs {
	border-bottom: none!important;
}
 .section-1 .btn-red{
    width: 100%;
} 
.section-1 .form-search,
.section-1 .tab-content {
	background: #f2f2f2;
	padding: .5rem 0;
}
.section-1 .fa-search {
	color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: .8rem;
    left: 2rem;
}
.section-1 .form-control {
	padding: .7rem 0 .7rem 2.3rem!important;
}
.section-1 .tab-2 ul{
	display: flex;
	flex-wrap: wrap!important;
}
.section-1 .tab-2 ul li{
	margin-right: 2rem;
}
.section-1 .tab-2 ul li a{
	text-decoration: underline;
}


/*section2*/

.banner .row .col-md-8 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner .block1 {
	max-width: 300px;	
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}
.banner .block1 {
	height: 270px;
	-webkit-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
}
.banner .block1, .car {
	-webkit-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);	
}
.banner .block11 {
	height: 350px;
}

.banner .block11 img {
	margin-top: 4.5rem!important;
}
.banner .w-size2 {
	width: 163px!important;
}
.banner .block1 img{
	max-width: 250px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.banner .block1 a{
	text-align: center;
	font-size:1.2rem;
	padding: .5rem;
}
.banner .block1 a:hover{
	text-decoration: none;
}
.banner .block1 .block1-wrapbtn {
	position: absolute;
    left: 30%;
    bottom: 1rem;
}
.fa-heart {
	position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .4s all ease;
}
.fa-heart:hover, .fa-heart.active-heart {
	color: #cb444e;
}
.section-3 img {
	max-height: 300px;
	width: 100%;
	height: 100%;
}
.section-3 .img-wrapper {
	background: #cb444e;
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 100%;
}
.section-3 .img-wrapper img {
	position: relative;
    width: 100%;
    top: 3.2rem;
}
.section-3 .text {
	position: absolute;
    left: 29%;
    top: 10%;
    color: #fff!important;
    width: 65%;
}


.block2-overlay {
	height: 50px;
}
.section-4 .block2 {
	margin: 0 auto;
}

.section-4 .block2 .block2-img:before{
	display: none;
}
.section-4 h3 {
	font-weight: bold;
	margin-bottom: 1.3rem;
}
.section-4 .product-wrapper {
	border: 1px solid #ccc;
    background: #fff;
    margin: 0 auto;
    padding: 1rem;
	position: relative;
}
.section-4 .product {
	margin-bottom: 1.2rem;
}
.section-4 .product span {
	display: block;
}
.section-4 .owl-nav span {
	font-size: 5rem;
}
.section-4 .owl-nav {
	position: absolute;
    top: 27%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-4 .owl-nav button:hover {
	background: none!important;
	color:inherit!important;
}
.section-4 .owl-nav button.owl-prev {
	margin-left: -25px;
}

.section-4 .owl-nav button.owl-next {
	margin-right: 0;
}
.section-4 .owl-nav button span {
	font-size: 4.5rem;
    color: #cccccc;
    font-weight: bold;
}
.section-4 .owl-dots {
	display: none;
}
.partners img{
	display: block;
	margin: 0 auto;
}
.partners .arrow-slick2 {
	top: 40%;
}
.partners .wrap-slick2 {
	margin: 0;
}
.partners .wrap-slick2 .next-slick2 {
	right: -30px!important;
}
.partners .wrap-slick2 .prev-slick2 {
	left: -30px!important;
}
.company p {
    color: #000;
    font-size: 1rem;
    padding: 0 1rem;
}
.footer-in {
	border-top: 2px solid #e65540;
}
footer li {
	line-height: 2rem;
}
footer h5 {
	margin-bottom: 1.5rem;
}
footer li img {
	max-width: 85px;
}

/*breadumbs*/
.breadCumbs {
	padding: 1rem 0;
}
.breadCumbs a{
	font-size: 1rem;
}
.breadCumbs .fa {
    margin: 0 1rem;
    font-size: 1.2rem;
}
.breadCumbs a:hover {
	color: #e65540;
}

/*registration*/
.left-border {
	border-left: 3px solid #e65540;
	padding-left: 8px;
}
.registration .form-check-label {
	line-height: 1.8;
}
input[type='text'], input[type='password'],
input[type='email'],textarea {
	border: 1px solid #ced4da!important;
	/*min-width: 348px!important;*/
	padding: .2rem .75rem!important;
}
.registration .form-group {
	margin-bottom: 1.5rem;
}
.registration .form-group label {
	text-align: right;
	width: 100%;
}
.registration .slesh {
	font-size: 1.5rem;
}
.registration .optovy {
	display: none;
}

/*category*/

.form-group .fa-search {
	background: #e65540;
	padding: 0 .8rem;
	color: #fff;
	display: flex;
	align-items: center;
}
.category .search {
	border-right: none!important;
}
.category .form-group {
	margin-bottom: 0!important;
}
.category h4 {
	font-weight: bold;
}
.category .car {
	background: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
}
.category a:hover {
	text-decoration: none!important;
}
.category .car p {
	color: #000;
	text-align: center;
}
.category .car p {
	margin: 0 auto;
}
.category h5 {
	font-weight: bold;
}

/*category part*/

.category-part .wrap-part,
.nav-category .des-wrap {
	border: 2px solid #ccc;
	padding: 1rem;
}
.category-part .left-part img{
	width: 105px;
}
.category-part .left-part h5{
	font-weight: bold;
}
.list-wrap, .des-wrap {
	background: #fff;
}

.list-wrap, .des-wrap .wrap-in{
	margin-bottom: 1rem;
}
.nav-category .list-wrap {
	border: 2px solid #ccc;
	padding: 1rem;
	margin-bottom: 1.5rem;
}
.nav-category .list-wrap .form-control{
	font-size: 1rem;
}
.nav-category .list-wrap .card-header,
.nav-category .list-wrap .card {
	background: transparent;
	border: none;
}
.nav-category .list-wrap .card-body {
	padding: 0 1.7rem;
}
.card {
	border-bottom: 1px solid #ccc;
	border-radius: none;d
}
.card-header {
	padding: 0.3rem 1.25rem;
}
.card-link {
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-link .fa {
	font-size: 1.2rem;
}
.card-link .name-text:hover {
	text-decoration: underline;
}
.activee {
	color: #e65540;
}
.activee-span {
	color: #e65540;
	text-decoration: underline;
}
.nav-category .des-wrap-in {
	display: flex;
	flex-direction: column;
	border: 2px solid #ccc;
	padding: 1rem;
}
.des-wrap {
	display: none;
}
.des-wrap#des-main {
	display: block;
}

.btn:hover {
	background: #e65540;
	color: #fff;
}
.des-wrap .btn:hover {
	background: #e65540;
	color: #fff;
}
.des-wrap .cron img {
	border-right: 1px solid #ccc;
	width: 180px;
	margin-right: 1rem;
}
.des-wrap .cron h5 {
	font-weight: bold;
}
.des-wrap .cron a {
	margin-left: 1rem;
	text-decoration: underline;
}

.des-wrap .cron-number {
	margin-right: 1.5rem;
}

/*spare-part page*/

.price-wrap {
	border-bottom: 2px solid #ccc;
	padding: 1rem 0 .5rem;
}
.non-visible {
	display: none;
}
.form-check label {
	display: flex;
	justify-content: space-between;
	line-height: 1.5;
}
.form-check label .label-name {
	font-size: 1.2rem;
}
.spare-right, .spare-des {
	border: 2px solid #ccc;
	padding: 1rem;
}
.spare-right h5 {
	font-weight: bold;
}
.spare-des .top {
	border-bottom: 1px solid #ccc;
}
.spare-des img{
	width: 135px;
	margin:1rem auto;
}
.spare-des .spare-list {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.spare-des .spare-list .name{
	font-weight: bold;
}
.spare-des .spare-list .des{
	width: 180px;
	font-size: .9rem;
}

/*cart page*/
.size8 {
    width: 15px;
    height: 25px;
}
.size7 {
	width: 30px;
	height: 25px;
}
td {
	line-height: 2.5;
}
td .fa-trash {
	font-size: 1.2rem;
}
td .fa-trash:hover {
	color: #e65540;
	cursor: pointer;
}


/*carbrands*/
.carbrands-top li a {
	font-size: 1.4rem;
    margin-right: 3rem;
}
/*single page*/
.desc-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.desc-wrap .name {
	margin-right: 1.5rem;
}
.element .name {
	font-weight: bold;
}
.element img.border-wrap {
	width: 100%;
	height: 100%;
}
.des-top {
	padding: 1rem 0;
}
.des-bottom,.des-top {
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}
.shipping span {
	font-size: .9rem;
}
.des-bottom .wrap {
	display: flex;
	flex-wrap: wrap;
}
.wrap img {
	width: 80px;
	height: 45px;
	margin-right: 1rem;
}
.wrap .shipping {
	display: flex;
	flex-direction: column;
	max-width: 50%;
}
.des-bottom img {
	width: 80px;
}
.categories-wrap h5 {
	font-size: 1.3rem;
    line-height: 1.6;
}
.categories-wrap h4 {
	margin: 1rem 0 0.5rem;
	color: #e65540;
}
.cars-wrap {
	border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}
.cars-wrap h3.red {
	margin-bottom: 2.5rem;
}

/*catalog page*/

.catalog-wrap h4 {
	margin-bottom: 2rem;
}
.catalog-in {
	margin-bottom: 2rem;
}
.catalog-wrap h4 a {
	font-size: inherit;
}
.catalog-wrap h4 img {
	width: 35px;
	margin-right: 4rem;
}
.catalog-wrap .box {
	width: 70%;
	margin-bottom: 1rem;
}
.catalog-wrap .img-wrapper {
    padding:1rem;
	border: 1px solid #ccc;
	margin-bottom: .7rem;


}
.catalog-wrap img,
.catalog-wrap a {
	display: block;
}
.img-wrapper img {
	margin: 0 auto;
}

/*cabinet page*/
.info-user-left p {
	line-height: 2;
}
.user-desc p {
	font-weight: bold;
}
.cabinet-wrapper .nav-tabs {
	border-bottom: none!important;
}
.cabinet-wrapper .nav-tabs .nav-link.active,
.cabinet-wrapper .nav-tabs .nav-link:hover{
	border-bottom: 2px solid #e65540;
	color: inherit;
}
.cabinet-wrapper .nav-tabs .nav-link{
	border: none;
	border-bottom: 2px solid transparent;
	padding:0;
	line-height: 2;
}
.cabinet-wrapper form span{
	line-height: 2;
}
.cabinet-wrapper form .name{
	display: block;
	text-align: right;
	font-weight: bold;
}
.cabinet-wrapper form .error-des{
	font-size: .8rem;
    line-height: 0;
}
.cabinet-wrapper form .btn{
	font-size: 1.1rem;
}
.cabinet-top .non-active {
	display: none;
}
.cabinet-top .number {
	cursor: pointer;
}

/*shipping page*/
.add-span {
	font-size: .8rem;
	line-height: 1rem;
}
.form-top .form-check {
	margin-bottom: 0;
}
.form-top .form-check-label {
	flex-direction: column;
}

.form-bottom .form-check-label {
	display: block;
}
.form-bottom .obez {
	font-size: .9rem;
	margin-left: 2rem;
}
.shipping-wrapper .form-group label{
	display: block;
    text-align: right;
}
.shipping-wrapper .form-bottom {
	padding-left: 2rem;
}
.check-wrap {
	margin: 2rem 0;
    padding-bottom: 1rem;
    font-style: italic;
}
.check-wrap span {
	display: block;
	margin-left: 2.5rem;
}
.radio-bottom {
	padding-right: 1rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2rem;
}
.send-wrap {
	text-align: right;
}
.send-wrap span {
	display: block;
}
.input-wrap .address-wrap {
	display: none;
}
.fa-star {
	font-size: .5rem;
	color: #e65540;
	position: absolute;
	right: -8px;
    top: 0;
}
.obez {
	position: relative;
}
.obez .fa-star {
	top: 3px;
    left: -10px;
}
/* media*/

@media (max-width: 575.98px) { 

	.category .left-border {
		margin-bottom: 1rem;
	}	
	/* .section-1 .nav-tabs-1{
		justify-content: space-between;
	} */

}

@media (max-width: 767.98px) { 
	body, html {
		font-size: 11px;
	}
	.banner .block1 {
		height: 300px;
	}
	.banner .block11 img{
		margin-top: 2.5rem!important;
	}
	.section-1 .nav-item-1 {
		
		font-size: .9rem;
	}
	.section-1 .nav-item a.nav-link-1{
		
		margin-right: 0;
	}

	.company {
		display: none;
	}
	.form-group label {
		text-align: left!important;
		display: inline-block!important;

	}
	.cabinet-wrapper form .name {
		text-align: left;
	}
	.form-top .price {
		margin-left: 3rem;
	}
	.form-top .fa-star {
		right: -6px;
    	top: 0;
	}
}


@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }