a {
	color: #000;
	font-size: 1rem;
}
a:hover {
	text-decoration: underline;
}
h1,h2,h3,h4 {
	font-weight: bold;
	margin-bottom: 1.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.7rem;
}
.btn:focus, .form-control:focus {
	box-shadow: none;
}
input {
	border-radius: 5px;
}
.btn {
	font-size: 1.2rem;
	color: #fff;
	display: block;
}
.btn-red {
	background: #e65540;
}
.btn-black {
	background: #000;
}
.green {
	color: #00b91e;
}
.form-control {
	border: 1px solid #000!important;
}
img {
	max-width: 100%;
	display: block;
}
.line {
	text-decoration: underline!important;
}
section {
	margin-bottom: 1.5rem;
	padding:1rem 0;
}
.section-1 .nav-tabs .nav-link-2 {
	border: none;
	padding: 0;
}
.section-1 .nav-tabs .nav-link.active
 {
	background: #f2f2f2!important;
	color:#e65540;
	border-color: transparent;
}
.section-1 .nav-item-1 {
	margin-right: 1rem;
	min-width: 140px;
	text-align: center;
}
.section-1 .nav-tabs-2 {
	padding-top: 1rem;
}
.section-1 .nav-item-2 {
	margin-right: 4rem;
}
.section-1 .nav-item a.nav-link-1{
	background: #d9d9d9;
	line-height: 1.2rem;
	font-weight: bold;
}
.section-1 .nav-tabs {
	border-bottom: none!important;
}
 .section-1 .btn-red{
    width: 100%;
} 
.section-1 .form-search,
.section-1 .tab-content {
	background: #f2f2f2;
	padding: .5rem 0;
}
.section-1 .fa-search {
	color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: .8rem;
    left: 2rem;
}
.section-1 .form-control {
	padding: .7rem 0 .7rem 2.3rem!important;
}
.section-1 .tab-2 ul{
	display: flex;
	flex-wrap: wrap!important;
}
.section-1 .tab-2 ul li{
	margin-right: 2rem;
}
.section-1 .tab-2 ul li a{
	text-decoration: underline;
}


/*section2*/

.banner .row .col-md-8 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner .block1 {
	max-width: 300px;	
	background: #fff;
	margin-left: auto;
	margin-right: auto;
}
.banner .block1 {
	height: 250px;
	-webkit-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
	box-shadow: -2px 9px 28px -13px rgba(0,0,0,0.75);
}
.banner .block11 {
	height: 350px;
}

.banner .block11 img {
	margin-top: 4.5rem;
}
.banner .w-size2 {
	width: 163px!important;
}
.banner .block1 img{
	max-width: 270px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.banner .block1 .block1-wrapbtn {
	position: absolute;
    left: 24%;
    bottom: 2rem;
}
.section-3 img {
	max-height: 300px;
	width: 100%;
	height: 100%;
}
.section-3 .img-wrapper {
	background: #cb444e;
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 100%;
}
.section-3 .img-wrapper img {
	position: relative;
    width: 100%;
    top: 3.2rem;
}
.section-3 .text {
	position: absolute;
    left: 29%;
    top: 10%;
    color: #fff;
    width: 65%;
}
.section-4 .block2 {
	margin: 0 auto;
}

.section-4 .block2 .block2-img:before{
	display: none;
}
.section-4 h3 {
	font-weight: bold;
	margin-bottom: 1.3rem;
}
.section-4 .product-wrapper {
	border: 1px solid #ccc;
    background: #fff;
    margin: 0 auto;
    padding: 1rem;
	position: relative;
}
.section-4 .product {
	margin-bottom: 1.2rem;
}
.section-4 .product span {
	display: block;
}
.section-4 .owl-nav span {
	font-size: 5rem;
}
.section-4 .owl-nav {
	position: absolute;
    top: 27%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-4 .owl-nav button:hover {
	background: none!important;
	color:inherit!important;
}
.section-4 .owl-nav button.owl-prev {
	margin-left: -25px;
}

.section-4 .owl-nav button.owl-next {
	margin-right: 0;
}
.section-4 .owl-nav button span {
	font-size: 4.5rem;
    color: #cccccc;
    font-weight: bold;
}
.section-4 .owl-dots {
	display: none;
}
.partners img{
	display: block;
	margin: 0 auto;
}
.partners .arrow-slick2 {
	top: 40%;
}
.partners .wrap-slick2 {
	margin: 0;
}
.partners .wrap-slick2 .next-slick2 {
	right: -30px!important;
}
.partners .wrap-slick2 .prev-slick2 {
	left: -30px!important;
}
.company p {
    color: #000;
    font-size: 1rem;
    padding: 0 1rem;
}
footer li {
	line-height: 2rem;
}
footer h5 {
	margin-bottom: 1.5rem;
}
footer li img {
	max-width: 85px;
}

/*breadumbs*/
.breadCumbs {
	padding: 1rem 0;
}
.breadCumbs a{
	font-size: 1rem;
}
.breadCumbs .fa {
    margin: 0 1rem;
    font-size: 1.2rem;
}
.breadCumbs a:hover {
	color: #e65540;
}

/*registration*/
.left-border {
	border-left: 3px solid #e65540;
	padding-left: 8px;
}
.registration .form-check-label {
	line-height: 1.8;
}
.registration .form-control {
	border: 1px solid #000!important;
	/*min-width: 348px!important;*/
	padding: .2rem .75rem!important;
}
.registration .form-group {
	margin-bottom: 1.5rem;
}
.registration .form-group label {
	text-align: right;
	width: 100%;
}
.registration .slesh {
	font-size: 1.5rem;
}
.registration .optovy {
	display: none;
}

/*category*/

.form-group .fa-search {
	background: #e65540;
	padding: 0 .8rem;
	color: #fff;
	display: flex;
	align-items: center;
}
.category .search {
	border-right: none!important;
}
.category .form-group {
	margin-bottom: 0!important;
}
.category h4 {
	font-weight: bold;
}
.category .car {
	background: #fff;
	padding: 1rem;
	margin-bottom: 1rem;
}
.category .car p {
	color: #000;
	text-align: center;
}
.category .car p {
	margin: 0 auto;
}
.category h5 {
	font-weight: bold;
}

/*category part*/

.category-part .wrap-part,
.nav-category .des-wrap {
	border: 2px solid #ccc;
	padding: 1rem;
}
.category-part .left-part img{
	width: 105px;
}
.category-part .left-part h5{
	font-weight: bold;
}
.list-wrap, .des-wrap {
	background: #fff;
}

.list-wrap, .des-wrap .wrap-in{
	margin-bottom: 1rem;
}
.nav-category .list-wrap {
	border: 2px solid #ccc;
	padding: 1rem;
	margin-bottom: 1.5rem;
}
.nav-category .list-wrap .form-control{
	font-size: 1rem;
}
.nav-category .list-wrap .card-header,
.nav-category .list-wrap .card {
	background: transparent;
	border: none;
}
.nav-category .list-wrap .card-body {
	padding: 0 1.7rem;
}
.card {
	border-bottom: 1px solid #ccc;
	border-radius: none;
}
.card-header {
	padding: 0.3rem 1.25rem;
}
.card-link {
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-link .fa {
	font-size: 1.2rem;
}
.card-link .name-text:hover {
	text-decoration: underline;
}
.activee {
	color: #e65540;
}
.activee-span {
	color: #e65540;
	text-decoration: underline;
}
.nav-category .des-wrap-in {
	display: flex;
	flex-direction: column;
	border: 2px solid #ccc;
	padding: 1rem;
}
.des-wrap {
	display: none;
}
.des-wrap#des-main {
	display: block;
}
.des-wrap .btn {
	background: #f2f2f2;
	color: #000;
	transition: all .3s ease;
}
.des-wrap .btn:hover {
	background: #e65540;
	color: #fff;
}
.des-wrap .cron img {
	border-right: 1px solid #ccc;
	width: 180px;
	margin-right: 1rem;
}
.des-wrap .cron h5 {
	font-weight: bold;
}
.des-wrap .cron a {
	margin-left: 1rem;
	text-decoration: underline;
}

.des-wrap .cron-number {
	margin-right: 1.5rem;
}

/*spare-part page*/

.price-wrap {
	border-bottom: 2px solid #ccc;
	padding: 1rem 0 .5rem;
}
.form-check label {
	margin-left: 1rem;
	display: flex;
	justify-content: space-between;
	line-height: 1.8;
}
.form-check label .label-name {
	font-size: 1.2rem;
}
.spare-right, .spare-des {
	border: 2px solid #ccc;
	padding: 1rem;
}
.spare-right h5 {
	font-weight: bold;
}
.spare-des .top {
	border-bottom: 1px solid #ccc;
}
.spare-des img{
	width: 135px;
	margin:1rem auto;
}
.spare-des .spare-list {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.spare-des .spare-list .name{
	font-weight: bold;
}
.spare-des .spare-list .des{
	width: 180px;
	font-size: .9rem;
}
/* media*/

@media (max-width: 575.98px) { 

	.category .left-border {
		margin-bottom: 1rem;
	}
}

@media (max-width: 767.98px) { 
	.banner .block1 {
		height: 300px;
	}
	.banner .block11 img{
		margin-top: 2.5rem;
	}
	.section-1 .nav-item-1 {
		
		font-size: .9rem;
	}
	.section-1 .nav-item a.nav-link-1{
		
		margin-right: 0;
	}
	.company {
		display: none;
	}
	.registration .form-group label {
		text-align: left;
	}

}

@media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... }